node-red/nodes.json
[
  {
    "id": "8ca217ca.1a60e8",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 331,
    "y": 373,
    "z": "c183a270.09fb7",
    "wires": []
  },
  {
    "id": "81b5b4c3.61f208",
    "type": "ibmiot in",
    "authentication": "boundService",
    "apiKey": "",
    "inputType": "evt",
    "deviceId": "",
    "applicationId": "",
    "deviceType": "",
    "eventType": "status",
    "commandType": "",
    "format": "",
    "name": "Status Event",
    "service": "registered",
    "allDevices": true,
    "allApplications": "",
    "allDeviceTypes": true,
    "allEvents": false,
    "allCommands": "",
    "allFormats": true,
    "x": 138,
    "y": 373,
    "z": "c183a270.09fb7",
    "wires": [
      [
        "8ca217ca.1a60e8"
      ]
    ]
  },
  {
    "id": "66e988f6.29bcd",
    "type": "ibmiot out",
    "authentication": "boundService",
    "apiKey": "",
    "outputType": "cmd",
    "deviceId": "18FE34EF211C",
    "deviceType": "esp8266",
    "eventCommandType": "led",
    "format": "text",
    "data": "1",
    "name": "ESPThing LED",
    "service": "registered",
    "x": 562,
    "y": 251,
    "z": "c183a270.09fb7",
    "wires": []
  },
  {
    "id": "cd53b7ea.33beb8",
    "type": "inject",
    "name": "On",
    "topic": "iot-2/cmd/led/fmt/text",
    "payload": "1",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 273,
    "z": "c183a270.09fb7",
    "wires": [
      [
        "66e988f6.29bcd"
      ]
    ]
  },
  {
    "id": "635a9fe8.83e238",
    "type": "inject",
    "name": "Off",
    "topic": "iot-2/cmd/led/fmt/text",
    "payload": "0",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 141,
    "y": 209,
    "z": "c183a270.09fb7",
    "wires": [
      [
        "66e988f6.29bcd"
      ]
    ]
  },
  {
    "id": "5db83ae6.a311fc",
    "type": "http in",
    "name": "LED Command HTTP Input",
    "url": "/led",
    "method": "get",
    "swaggerDoc": "",
    "x": 131,
    "y": 83,
    "z": "c183a270.09fb7",
    "wires": [
      [
        "a5fd037b.aef518",
        "495ffa23.8fb81c"
      ]
    ]
  },
  {
    "id": "a5fd037b.aef518",
    "type": "function",
    "name": "Format Command",
    "func": "msg.payload = (msg.payload.on == 'true') ? '1' :'0'\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 343,
    "y": 166,
    "z": "c183a270.09fb7",
    "wires": [
      [
        "66e988f6.29bcd"
      ]
    ]
  },
  {
    "id": "65852704.f478a",
    "type": "http response",
    "name": "HTTP Output",
    "x": 609,
    "y": 84,
    "z": "c183a270.09fb7",
    "wires": []
  },
  {
    "id": "495ffa23.8fb81c",
    "type": "template",
    "name": "JSONp response",
    "field": "payload",
    "format": "handlebars",
    "template": "{{callback}}({\"ok\":true});",
    "x": 365,
    "y": 82,
    "z": "c183a270.09fb7",
    "wires": [
      [
        "65852704.f478a"
      ]
    ]
  }
]
