node-red/nodes.json
[{"id":"8ca217ca.1a60e8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":665,"y":325,"z":"c183a270.09fb7","wires":[]}][{"id":"8ca217ca.1a60e8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":665,"y":325,"z":"c183a270.09fb7","wires":[]},{"id":"81b5b4c3.61f208","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"status","commandType":"","format":"","name":"Status Event","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"x":470,"y":171,"z":"c183a270.09fb7","wires":[["8ca217ca.1a60e8"]]},{"id":"66e988f6.29bcd","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"18FE34EF211C","deviceType":"esp8266","eventCommandType":"led","format":"text","data":"1","name":"ESPThing LED","service":"registered","x":457,"y":225,"z":"c183a270.09fb7","wires":[]},{"id":"cd53b7ea.33beb8","type":"inject","name":"On","topic":"iot-2/cmd/led/fmt/text","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":214,"y":258,"z":"c183a270.09fb7","wires":[["66e988f6.29bcd"]]},{"id":"635a9fe8.83e238","type":"inject","name":"Off","topic":"iot-2/cmd/led/fmt/text","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":212,"y":203,"z":"c183a270.09fb7","wires":[["66e988f6.29bcd"]]},{"id":"5db83ae6.a311fc","type":"http in","name":"LED HTTP Input","url":"/led","method":"post","swaggerDoc":"","x":124,"y":365,"z":"c183a270.09fb7","wires":[["a5fd037b.aef518","65852704.f478a"]]},{"id":"a5fd037b.aef518","type":"function","name":"Form Data to Text","func":"msg.payload = (msg.payload.on == 'true') ? '1' :'0'\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":342,"z":"c183a270.09fb7","wires":[["8ca217ca.1a60e8","66e988f6.29bcd"]]},{"id":"65852704.f478a","type":"http response","name":"Send blank response","x":317,"y":396,"z":"c183a270.09fb7","wires":[]}]